# Ne jamais push le fichier .env (contient ton token Discord !)
.env

# Fichiers Python inutiles
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
.venv/
env/

# Script de push local
push.bat
conv-originel.txt